@page "/users"
<h3>UserListPage</h3>

<div class="d-flex flex-wrap">
    @foreach (var user in Users)
    {
        <div class="card m-1" style="width: 16rem;">
            <img class="card-img-top" src="@user.PhotoUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @{
                        if (user.Id == Guid.Empty)
                        {
                            <span>@user.Name</span>
                        }
                        else
                        {
                            <NavLink href="@($"/user/{user.Id}")">@user.Name</NavLink>
                        }
                    }
                </h5>

            </div>
        </div>
    }
</div>
