@page "/"

<PageTitle>SharpForms</PageTitle>

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4">SharpForms</h1>
    </div>

    <p class="lead">
        This web pages represent an implementation for a team project for the academic course
        <a href="https://www.fit.vut.cz/study/course/280952/.cs" target="_blank" class="text-decoration-none">IW5</a>
        taught at Brno University of Technology in the academic year 2024/25.
    </p>

    <div class="mt-4">
        <h2 class="h5">Team Members:</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Michal Krulich <span class="text-secondary">(lead)</span> </span>
                <span class="badge bg-primary text-white"><code class="text-white">xkruli03</code></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Stanislav Letaši
                <span class="badge bg-primary text-white"><code class="text-white">xletas00</code></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Boris Hatala
                <span class="badge bg-primary text-white"><code class="text-white">xhatal02</code></span>
            </li>
        </ul>
    </div>
</div>
