@page "/forms/create"

<PageTitle>New Form</PageTitle>

<h3>Create New Form</h3>

<EditForm Model="Form" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (_errorMessage != null)
    {
        <div class="alert alert-danger">
            @_errorMessage
        </div>
    }

    <div class="mb-3">
        <label for="Name" class="form-label">Form Name</label>
        <InputText id="Name" class="form-control w-auto" @bind-Value="Form.Name" />
    </div>

    <div class="mb-3">
        <label for="OpenSince" class="form-label">Open Since</label>
        <InputDate id="OpenSince" class="form-control w-auto" @bind-Value="Form.OpenSince" />
        <ValidationMessage For="@(() => Form.OpenSince)" />
    </div>

    <div class="mb-3">
        <label for="OpenUntil" class="form-label">Open Until</label>
        <InputDate id="OpenUntil" class="form-control w-auto" @bind-Value="Form.OpenUntil" />
        <ValidationMessage For="@(() => Form.OpenUntil)" />
    </div>
    
    <button type="submit" class="btn btn-success">Create Form</button>
</EditForm>